html {min-height: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {display: block;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, main {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
ol, ul {list-style:none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,  q:before, q:after {content:''; content:none;}
del {text-decoration: line-through;}
svg:not(:root) {overflow: hidden;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}
table {width: 100%; border-collapse: collapse; border-spacing: 0;}
input, select {vertical-align: middle;}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
button, input, select, textarea {margin: 0; font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;}
textarea {resize: none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0; *height: 13px; *width: 13px;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
img {display: block;}
td img {vertical-align: top;}
address {display: inline;}
code, kbd, pre, samp {font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 14px;}
pre {white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
a:hover, a:active {outline: none;}
body a, a:hover {text-decoration: none;}
body a:active {color: #999;}
body a:visited {text-decoration: none;}
fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}
::-webkit-input-placeholder {color: #444; font-weight: 300; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;}
:-moz-placeholder {color: #444; font-weight: 300; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;}
::-moz-placeholder {color: #444; font-weight: 300; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;}
:-ms-input-placeholder {color: #444; font-weight: 300; font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;}
table {max-width: 100%; width: 100%; empty-cells: show;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.cf:before, .cf:after {content:""; display:table;} .cf:after {clear:both;}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v11/rr0ijB5_2nAJsAoZ6vECXRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(https://fonts.gstatic.com/s/raleway/v11/RJMlAoFXXQEzZoMSUteGWFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'saya_fyblack';
  src: url('fonts/sayafy-black_m-webfont.woff2') format('woff2'),
       url('fonts/sayafy-black_m-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'saya_fyblack_italic';
  src: url('fonts/sayafy-blackitalic_m-webfont.woff2') format('woff2'),
       url('fonts/sayafy-blackitalic_m-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
	font: 18px/1.5 "Raleway", Helvetica, Arial, sans-serif;
  background: #fdf2f2;
	color: #0a1a06;
	overflow-x: hidden;
  text-rendering: auto;
  width: 100vw;
  position: relative;
  padding-top: 48px;
}
header {
  height: 48px;
  line-height: 48px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgba(253, 242, 242, 0.75);
  z-index: 9000;
}
  header div {width: 90%; margin: 0 auto; position: relative; text-align: center;}
  header h1 {
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    text-align: left;
    color: #000;
    text-transform: none;
  }
    header h1 span {font-weight: 700; text-transform: uppercase;}
  header .work {
    display: inline-block;
    color: #000;
  }
  header .contact {
    display: inline-block;
    float: right;
    color: #000;
  }
  header a:hover {color: #e83e08;}
article {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 16px 0;
  position: relative;
  min-height: 100vh;
  top: 10vh;
}
  article .right {
    width: 60%;
    margin: 0 0 0 40%;
    padding: 64px 0 0 0;
    position: relative;
    z-index: 300;
  }
  article h2 {
    font-size: 148px;
    font-weight: 400;
    font-family: "saya_fyblack_italic", Montserrat, Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    line-height: 124px;
    color: #e8e4dc;
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    width: 748px;
    z-index: 100;
  }
    article h2:after {
      width: 80%;
      height: 98%;
      content: "";
      position: absolute;
      left: -13%;
      top: 15%;
      background-color: rgba(230, 230, 230, 0.4);
      z-index: -1;
      opacity: 0.5;
      -moz-transform: rotate(-35deg);
      -webkit-transform: rotate(-35deg);
      -o-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      transform: rotate(-35deg);
    }
    article h2:before {
      width: 90%;
      height: 98%;
      content: "";
      position: absolute;
      left: -12%;
      top: 24%;
      background-color: rgba(230, 230, 230, 0.65);
      z-index: -1;
      opacity: 0.35;
      -moz-transform: rotate(-35deg);
      -webkit-transform: rotate(-35deg);
      -o-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      transform: rotate(-35deg);
    }
  article p, .extra p {
    font-size: 18px;
    line-height: 1.4em;
    margin-bottom: 24px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
  }
    article p:last-of-type, .extra p {color: #e83e08;}
    article p a, .extra p a {color: #e83e08; display: inline-block; padding: 4px 8px; border: 1px solid #e83e08;}
      article p a:hover, .extra p a:hover {color: #fff; background-color: #e83e08;}

.portfolio-wrapper {
  position: relative;
  width: 90%;
  padding: 56px 0;
  margin: 0 auto;
}
  .portfolio-wrapper .pw-entry {
    height: 360px;
    position: relative;
    margin-bottom: 56px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover !important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
    .portfolio-wrapper .pw-entry .thumb {
      margin: 0 auto;
      position: relative;
    }
    .portfolio-wrapper .pw-entry .info {
      font-weight: 100;
      font-size: 72px;
      letter-spacing: -1px;
      color: #fff;
      position: absolute;
      left: 48px;
      top: 48px;
    }
    .portfolio-wrapper .pw-entry .name {
      font-weight: 400;
      font-size: 64px;
      letter-spacing: -1px;
      color: rgba(255,255,255,0.7);
      text-align: center;
      position: absolute;
      left: 48px;
      top: 116px;
      font-family: "saya_fyblack_italic", Helvetica, Arial, sans-serif;
    }
    .portfolio-wrapper .pw-entry:hover {
      cursor: pointer;
    }
    .portfolio-wrapper .pw-entry:hover .name {color: #fff;}
    .portfolio-wrapper .pw-entry:hover .info {color: transparent;}
  .portfolio-wrapper .entry-01 {background-color: #26ab98; background-image: url(images/entry-01-bg.jpg);}
  .portfolio-wrapper .entry-02 {background-color: #0098c3; background-image: url(images/entry-02-bg.jpg);}
  .portfolio-wrapper .entry-03 {background-color: #eb8282; background-image: url(images/entry-03-bg.jpg);}
/*color: #e20707;*/
.extra {
  width: 90%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 16px 0 48px 0;
}
