doctype
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title document here
    meta(name='description', content='I am Laurentiu Danu, a digital product developer specialized in UXd and front-end development.')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='style.css')
    link(rel='icon' href='images/favicon.png')
    link(rel='apple-touch-icon' href='images/apple-touch-icon.png')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Laurentiu Danu')
    meta(property='og:title', content='Laurentiu Danu')
    meta(property='og:image', content='images/og-image.jpg')
    meta(property='og:description', content='I am Laurentiu Danu, a digital product developer specialized in UXd and front-end development.')
    meta(property='og:url', content='http://laurentiudanu.github.io')
  body
    header
      .wrapper
        h1 Laurentiu Danu
          span coding layouts to suit the content
    main
      section
        .wrapper
          article.first
            p Hello. 
            p I am Laurentiu Danu, a romanian front-end developer and interaction designer with experience in different fields such as UX, usability and custom made WordPress-as-cms themes.
            p Because I strongly believe that interaction design is not a math problem with one correct answer, my goal for every project is to craft a modern digital experience that has some thoughtful details, is functional, reliable and pleasurable without sacrificing the commercial requirements.
            p Over the past 5+ years I have delivered code or design for companies like Apa Bucovina, ANIS Romania, J.F. Lehman & Co, Dynasoft Synergy, METRO RO, KC Deco, Okapi Studio, Sprout Therapeutic Riding & Education Center, Perspecsys Cloud Data Protection, George Mason University, MOFF Office Furniture, Raiffeisen Bank Romania and Aqua Carpatica or for romanian celebrities like Loredana Groza, Cabral, Andreea Patrascu and Andi Moisescu.
            p #[span I am available for commission enquiries.] Email me at #[a(href="mailto:laurentiu.danu@gmail.com") laurentiu.danu@gmail.com] and I'll get back to you as soon as I can.
      section
        .wrapper
          article
            p Work samples
            ul
              li
                p 
                  a(href="http://getmustr.com/", target="_blank") Mustr
                p Complete redesign of the homepage usign a modern layout centered around strong call-to-actions and the advantages that the app brings to the user.
                p Skills: website layout, UX, html, css, jQuery
              li
                p 
                  a(href="http://theimmigrationoffice.com/", target="_blank") the Immigration Office
                p Collaboration - deliver a complete website layout and wordpress theme for a Dubai based business.
                p Skills: website layout, UX, html, css, jQuery, WordPress
              li
                p 
                  a(href="http://creekds.com/", target="_blank") CREEK Data Services
                p Collaboration - deliver a complete website layout and wordpress theme for a Dubai based business.
                p Skills: website layout, UX, html, css, jQuery, WordPress
              li
                p 
                  a(href="http://becmedia.ro", target="_blank") BEC Media
                p Deliver a complete custom wordpress theme.
                p Skills: project management, UX, html, css, jQuery, WordPress
              li
                p 
                  a(href="http://fridayillustrated.com/", target="_blank") Friday Illustrated
                p Complete redesign of the existing website layout using a minimal layout and a complete custom WordPress theme.
                p Skills: project management, website layout, UX, html, css, jQuery, WordPress
              li
                p
                  a(href="http://2015.mossconf.ro/", target="_blank") MOSS Conf 2015
                p Collaboration - a complete custom WordPress theme for the Make Open Source Software Conference.
                p Skills: html, css, jQuery, WordPress              
              li
                p
                  a(href="http://angelwheels.org/", target="_blank") Angel Wheels To Healing
                p Complete redesign of the existing website and a custom WordPress theme for an USA based non-profit organization.
                p Skills: website layout, html, css, jQuery, WordPress
      
    script(async, src='js/jq.js')
    script(async, src='js/functions.js')
    